
a {
  text-decoration: none;
}
.main-content {
  margin-top: 10em;
  /* align-items: center; */
  text-align: center;
}

.main-content a {
  width: 40%;
  margin: 5em auto;
}

.nav-container {
  display: flex;
  margin: 5em;
  justify-content: space-around;
  align-content: space-around;
  flex-direction: column; 
 }

 .company-card {
   width: 80%;
   margin: 2em auto;
 }

 .positive-negative div {
   padding: 1em;
 }

 .icon :hover {
   cursor: pointer;
 }

 .peer-leader {
   width: 20%;
 }